
// $links-color: #3c3c3c;
// $activeLink-color: #ada074;

$primaryFont: 'OpenSans-Bold';
$secondaryFont: 'OpenSans-SemiBold';
$textFont: 'OpenSans-Regular';
$linkMore:'OpenSans-SemiBoldItalic';

// $blockTitle-size: 34px;
// $primaryText-size: 14px;
// $textSize-sx: 14px;

$lg: 1199px;//992px - 1199px
$md: 991px;//768px - 991px
$sm: 767px;//576px - 767px
$xs: 575px;// 0px - 575px